<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>231838305480-3m6g2l71eqkuj9fmdqppad20p5hi3naf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.231838305480-3m6g2l71eqkuj9fmdqppad20p5hi3naf</string>
	<key>API_KEY</key>
	<string>AIzaSyApCuq6TtqaTHK82dpTkaOAvutpIYyOgMQ</string>
	<key>GCM_SENDER_ID</key>
	<string>231838305480</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopApp</string>
	<key>PROJECT_ID</key>
	<string>shopuify</string>
	<key>STORAGE_BUCKET</key>
	<string>shopuify.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:231838305480:ios:3ef9cbfac9a1b325e069fd</string>
</dict>
</plist>